* {
  background-color: #F9F4F5;
}
body {
  margin: 0px;
  background-color: #60A561;
  height: 800px;
}
h1 {
color: #C42847;
}
h2 {
  color: #C42847;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav > a {
  text-decoration: none;
}
a:visited{
  color: #60A561;
}
ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
.container {
  height: 100%;
  width: 75%;
  margin: auto;
  text-align: center;
}